### python ###

.env
__pycache__/
.venv/
test.py

HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

# === Gradle ===
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# === AI Agent ===
ai_app/har_and_cookies/
ai_app/generated_media/

### VS Code ###
.vscode/
